.App {
    text-align: center;
    background-color: #d1adcc;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

.card-center {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.custom-button {
    border-radius: 12px !important;
    border-color: black !important;
    padding: 10px 24px !important;
    margin: 8px;
}

.background-img {
    background-image: url("./food.jpg");
    height: 50vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.heading {
    color: white;
    font-size: 90px;
    font-weight: 600;
    width: 50%;
    font-family: "Helvetica Neue";
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.search-button {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: black !important;
    border-color: black !important;
}

.search-button:hover {
    background-color: #0275d8 !important;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
